# Extract and Load Dataset to s3 target

The purpose of ths solution is to create a Python script that enables the reading and loading of data to an Amazon s3 bucket. This script provides an easy-to-use and efficient way to handle data movement to and from s3 bucket. The python script reads data from a local directory and load it to a specific s3 bucket. The script supports CSV and Parquet files and writing of Parquet files to s3. It also supports reading Parquet file from the s3 bucket.

The solution leverages the Boto3 Python library to connect to the s3 bucket, and it can be easily configured using the configuration file or environmental variables. The solution offers a convenient way to automate data pipeline tasks and reduce manual effort.

In [1]:
from dataETL import DataETL

In [2]:
help(DataETL)

Help on class DataETL in module dataETL:

class DataETL(builtins.object)
 |  DataETL(bucket_name, bucket_folder=None, source_path=None)
 |
 |  A class for extracting data from a local folder and loading into s3 target.
 |
 |  Methods defined here:
 |
 |  __init__(self, bucket_name, bucket_folder=None, source_path=None)
 |      :param bucket_name: The name of the s3 bucket to read from or write to.
 |      :param bucket_folder: str, None
 |                            The folder name in the bucket to write the file to or read from.
 |                            Default is None
 |      : param source_path: str, None
 |                           The path to the local folder to extract data from.
 |                           Default is None
 |
 |  extract_data_from_s3(self, file_key: str) -> pandas.core.frame.DataFrame
 |      Extract data from an s3 bucket.
 |      :return: The dataset as a pandas dataFrame.
 |
 |  list_s3_files(self)
 |      List the files on the s3 bucket.
 |      :return: The list of file key(s) of the files and folders available on the s3 bucket.
 |
 |  load_data_to_s3(self)
 |      Save the locally extracted data to the s3 bucket.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)

## Load Datasets to s3

In [3]:
import os

#### Create a datasets folder in the same location where the script is stored and add the datasets that need to be uploaded to the s3 bucket

In [4]:
DATA_PATH = os.path.join(os.getcwd(), 'datasets')

In [5]:
BUCKET_NAME = 'test-s3-etl-001'
BUCKET_FOLDER = 'folder-01'

In [6]:
data = DataETL(source_path=DATA_PATH, bucket_name=BUCKET_NAME)

Check that the s3 bucket name is correct

#### List the files available on the s3 bucket

In [7]:
data.list_s3_files()

['folder-01/']

#### Load the data to the s3 bucket

In [8]:
data.load_data_to_s3()

 2023-04-28 15:06:57,375 - WARNING - Skipping geometry.xlsx, we don't currently support xlsx
 2023-04-28 15:06:57,376 - INFO - Extracting Product Lookup data...
 2023-04-28 15:06:57,387 - INFO - Extracting Store Lookup data...
 2023-04-28 15:06:57,393 - INFO - Extraction completed
 2023-04-28 15:06:57,393 - INFO - Loading Product Lookup data to s3...
 2023-04-28 15:06:57,815 - INFO - Loading Store Lookup data to s3...
 2023-04-28 15:06:58,177 - INFO - Loading completed

### Extract Data from s3

In [9]:
data_from_s3 = DataETL(bucket_name=BUCKET_NAME)

#### List the files available on the s3 bucket

In [10]:
data_from_s3.list_s3_files()

['Product Lookup.parquet', 'Store Lookup.parquet', 'folder-01/']

#### Extract the required file from the s3 bucket using the file name as the key.

In [11]:
df = data_from_s3.extract_data_from_s3(file_key='Product Lookup.parquet')

 2023-04-28 15:07:01,640 - INFO - Extracting Product Lookup.parquet data from s3...
 2023-04-28 15:07:01,882 - INFO - Extraction completed

### Check Data

In [12]:
df.head()

,product_id,product_group,product_category,product_type,product,product_description,unit_of_measure,current_cost,current_wholesale_price,current_retail_price,tax_exempt_yn,promo_yn,new_product_yn,Unnamed: 13
0,1,Whole Bean/Teas,Coffee beans,Organic Beans,Brazilian - Organic,It's like Carnival in a cup. Clean and smooth.,12 oz,3.60,14.40,18.00,Y,N,N,NaN
1,2,Whole Bean/Teas,Coffee beans,House blend Beans,Our Old Time Diner Blend,Out packed blend of beans that is reminiscent ...,12 oz,3.60,14.40,18.00,Y,N,N,NaN
2,3,Whole Bean/Teas,Coffee beans,Espresso Beans,Espresso Roast,Our house blend for a good espresso shot.,1 lb,2.95,11.80,14.75,Y,N,N,NaN
3,4,Whole Bean/Teas,Coffee beans,Espresso Beans,Primo Espresso Roast,Our primium single source of hand roasted beans.,1 lb,4.09,16.36,20.45,Y,N,N,NaN
4,5,Whole Bean/Teas,Coffee beans,Gourmet Beans,Columbian Medium Roast,A smooth cup of coffee any time of day.,1 lb,3.00,12.00,15.00,Y,N,N,NaN

In [13]:
df.shape

(86, 14)

### Load Datasets to a folder on the s3 bucket.

#### If the target location is a first level folder on the s3 bucket, then you need an additional argument to set the bucket_folder to that folder.

In [14]:
data = DataETL(source_path=DATA_PATH, bucket_name=BUCKET_NAME, bucket_folder=BUCKET_FOLDER)

In [15]:
data.load_data_to_s3()

 2023-04-28 15:07:05,187 - WARNING - Skipping geometry.xlsx, we don't currently support xlsx
 2023-04-28 15:07:05,189 - INFO - Extracting Product Lookup data...
 2023-04-28 15:07:05,195 - INFO - Extracting Store Lookup data...
 2023-04-28 15:07:05,199 - INFO - Extraction completed
 2023-04-28 15:07:05,201 - INFO - Loading Product Lookup data to s3...
 2023-04-28 15:07:06,223 - INFO - Loading Store Lookup data to s3...
 2023-04-28 15:07:06,609 - INFO - Loading completed

### Extract Data from the folder.

In [16]:
data_from_s3 = DataETL(bucket_name=BUCKET_NAME, bucket_folder=BUCKET_FOLDER)

#### List the files available on the s3 bucket.

In [17]:
data_from_s3.list_s3_files()

['Product Lookup.parquet',
 'Store Lookup.parquet',
 'folder-01/',
 'folder-01/Product Lookup.parquet',
 'folder-01/Store Lookup.parquet']

#### Extract the required file from the folder on s3 bucket using the file name as the key.

In [18]:
df2 = data_from_s3.extract_data_from_s3(file_key='Store Lookup.parquet')

 2023-04-28 15:07:09,854 - INFO - Extracting Store Lookup.parquet data from s3...
 2023-04-28 15:07:09,999 - INFO - Extraction completed

### Check Data

In [19]:
df2.head()

,store_id,store_type,store_square_feet,store_address,store_city,store_state_province,store_postal_code,store_longitude,store_latitude,manager,Neighorhood
0,2,warehouse,3400,164-14 Jamaica Ave,Jamaica,NY,11432,-73.795168,40.705226,NaN,Jamaica
1,3,retail,1300,32-20 Broadway,Long Island City,NY,11106,-73.924008,40.761196,6.0,Astoria
2,5,retail,900,100 Church Street,New York,NY,10007,-74.010130,40.713290,16.0,Lower Manhattan
3,8,retail,1500,687 9th Avenue,New York,NY,10036,-73.990338,40.761887,31.0,Hell's Kitchen

In [20]:
df2.shape

(4, 11)